<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title></title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <body>
	  <div class='container'>
	    <div class='row'>
	      <div class='col-md-6 col-md-offset-3'>
	        <h1 class='display-2' style='font-weight: bold; font-variant: small-caps;'><span style='color:#c31e02; text-shadow: 2px 2px #ccc;'>Action</span> <span style='color: #4C8AC8; text-shadow: 2px 2px #ccc;'>Democratic</span> <span style='color: #211869; text-shadow: 2px 2px #ccc;'>Party</span></h1><small>Activation Message</small><br>
			  <hr>
        <p>Hello {{full_name}},</p>

<p>Congratulations!, You are now A Member of the Action Democratic Party (ADP) - #TheCredibleAlternative, </p>

<p>Your Online Membership ID: {{member_id}}</p>

<p>
    Your online registration as a full member of the Action Democratic Party ADP, The Credible Alternative is successful, As a financial member of the Party you have rights to vote and be voted for, for any position in the exco of the party from Polling Unit to the National.
</p>
<p>
  Also as a member, the platform of the party is available to you to contest for any elective public office from councilor to President of the Federal Republic of Nigeria.
</p>
<p>
  At ADP the following are our fundemantal guiding principles
</p>
  <ol>
    <li>All inclusiveness</li>
  <li>Democratic Empowerment of the Youth and Women</li>
  <li>Party Supremacy</li>
  </ol>
  Here are Links to Our <a href="https://goo.gl/p4TDAs">Constitution</a> and Our <a href="https://goo.gl/2wKtaV">Manifesto</a>
  <p>
    We look forward to your active participation in all the activities of the party as we match towards the take over of the Government from The States to the Federal in 2019
    Congratulation.
  </p>
  <p>
    With this mail and your reciept as your evidence of payment of membership fee you can now approach your Polling Unit Chairman in your Ward to collect your Membership Card
  </p>
  <p>Signed <br>Dr. James Okoroma <br>National Secretary</p>
  <address class="">
    No 20 Mongo Park Close <br> Plot 3379A/3379B Asokoro <br>Abuja Nigeria <br>09061825005
  </address>
  <h5 class='display-2' style='font-weight: bold; font-variant: small-caps;'><span style='color:#c31e02; text-shadow: 2px 2px #ccc;'>Action</span> <span style='color: #4C8AC8; text-shadow: 2px 2px #ccc;'>Democratic</span> <span style='color: #211869; text-shadow: 2px 2px #ccc;'>Party</span></h5>
  <small>One Destiny...! Action Forward...!</small>

	      </div>
	    </div>
	  </div>
	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
