<div class="container">
   <div class="d-flex mt-5 flex-column">
   	<div class="d-flex flex-column flex-xl-row flex-md-row w-100 p-2 justify-content-around">
			<div class="w-50 fullM mb-5 text-center">
				<h2 class="animated slideInLeft slogan"><var>Action</var> <var>Democratic</var> <var>Party</var> <small id="TheHash"></small></h2>
				<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_350,c_scale/nigeria_k5bawy.jpg" class="cld-responsive animated slideInLeft" alt="ADP Logo" />
			</div>
			<div class="w-25 border fullM border-left-2 text-center border-right-0 border-top-0 border-bottom-0 pl-5 border-dark">
				<h2 class="slogan animated slideInRight"><var>A</var><var>D</var><var>P</var></h2>
				<p class="slogans animated slideInRight">
					Slogan: <span>One Destiny</span>
					<br> Motto: <span>Action Forward</span>
				</p>
				<p class="animated slideInRight">
					The Credible Alternative
				</p>
			</div>
   	</div>
		<div class="d-flex flex-column pt-4 pr-5 pl-5 mt-5 mb-5 about border">
			<h1 class="text-center">ADP... Action Democratic Party</h1>
			<div class="d-flex flex-column flex-xl-row flex-md-row justify-content-between">
				<div class="w-50 fullM mt-3">
					<p>
						<strong>THE ACTION DEMOCRATIC PARTY (ADP)</strong> is a registered political party in Nigeria. The party was formed and established in 2017 to deal with the lapses that have over the years been complained about by Nigerians because the tenets of true democracy have been lost thereby giving some select few a godlike image where political parties are being dictated upon by the few and powerful.
					</p>
					<p>
						In the ADP, the three point agenda are
					<ol>
		 			  	<li>All inclusiveness</li>
		 				<li>Democratci Empowerment of the Youth and Women</li>
		 				<li>Pary Supremacy</li>
	 			  </ol>
					</p>
					<p>
						The keyword is democracy and this democracy is the same that is universally accepted and practiced all over; no one man or woman is greater than the party or one's view much better than the other member's when that view has not been examined and discussed. The ADP is the Nigeria's credible alternative with modern thinking and applications in its manifesto.
					</p>
					<p>
						ADP is the party for every Nigerian who believes that the traditional and archaic methods of attending to the Nigerian quagmire should be revisited . ADP is the political party that is building a better future for a more unified Nigeria.
					</p>
				</div>
				<div class="w-25 fullM mt-3">
					<figure class="figure">
						<a href="https://goo.gl/p4TDAs">
							<img data-src="https://res.cloudinary.com/inidaname/image/upload/c_scale/v1514411355/AdpCoverCon_1_g3zzlw.jpg" width="200px" height="300px" class="img-rounded cld-responsive" alt="ADP Constitution">
							<figcaption class="figure-caption"><strong>ADP Constitution</strong></figcaption>
						</a>
					</figure>
					<figure class="figure">
						<a href="https://goo.gl/2wKtaV">
							<img data-src="https://res.cloudinary.com/inidaname/image/upload/c_scale/v1514411358/AdpCoverMani_rstqq4.jpg" width="200px" height="300px" class="img-rounded cld-responsive" alt="ADP Manifesto">
							<figcaption class="figure-caption"><strong>ADP Manifesto</strong></figcaption>
						</a>
					</figure>
				</div>
			</div>
		</div>
		<!-- <div class="d-flex flex-column w-100 pt-5 adminOff">
			<h2>Administrative Staff <br> <small class="text-muted">contact personel</small></h2>
			<div class="d-flex flex-row justify-content-center align-items-center">
				<div class="card ml-2 mr-2" style="width: 20rem;">
				  <img class="card-img-top" src="..." alt="Card image cap">
				  <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
				</div>
			</div>
		</div> -->

   </div>
</div>
