<div class="modal fade" id="paidDon">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img data-src="https://res.cloudinary.com/inidaname/image/upload/v1517337850/payment_sbrwk9.jpg" id="theImage" class="cld-responsive img-rounded center-block w-75 ml-auto mr-auto">
        <div class="d-none" id="mbPay">
          <p class="text-center">
            Thank You for donating to ADP, Please provide details below.
          </p>
          <div class="form-group">
            <label class="label">Full Name</label>
            <input type="text" name="full_name" id="name_mobile" class="form-control" value="">
          </div>
          <div class="form-group">
            <label class="label">Bank Name</label>
            <input type="text" name="bank_name" id="bank_name" class="form-control" value="">
          </div>
          <div class="form-group">
            <label class="label">Phone Number</label>
            <input type="text" name="paidMobile" id="paidMobile" class="form-control" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span id="fillForm" class="text-danger"></span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Let Me Pay On Web</button>
        <button type="button" onclick="payHere()" id="chBtn" class="btn btn-primary">I Dialed the Code</button>
        <button type="button" onclick="payUp()" id="PayUp" class="btn btn-primary d-none">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="d-flex w-100 p-4 justify-content-around align-items-center">
	<div class="d-flex w-50 m-auto bg-light p-4 border border-2 fullM flex-column">
		<h3 class="text-center">Online Donation <button type="button" class="btn btn-primary" id="anonymous">Anonymous</button></h3>
		<p>2% of every donation made to party is being transfered to Orphanage Homes</p>
		<div class="form-group">
		  <label for="full_name">Full Name</label>
		  <input type="text" class="form-control" id="full_name" placeholder="Full Name">
		</div>

		<div class="form-group">
		  <label for="email">Email</label>
		  <input type="email" class="form-control" id="email" required placeholder="Email Address">
		</div>

		<div class="form-group">
		  <label for="phone_number">Phone Number</label>
		  <input type="text" class="form-control" id="phone_number" placeholder="Email Address">
		</div>

		<div class="form-group">
			<label for="amount">Amount</label>
			<input type="text" class="form-control" id="amount" value="" required placeholder="Amount">
			<!-- <p class="help-block">Please fill the appropriate Amount here</p> -->
		</div>
		<form action="">
			<script src="https://js.paystack.co/v1/inline.js"></script>
			<button type="button" class="btn btn-primary btn-lg" onclick="payWithPaystack()">Donate Today</button>
			<div class="col-md-12">
				<img data-src="http://res.cloudinary.com/inidaname/image/upload/v1513395675/footer_tje4zo.png" style="width:90%; margin: 0 auto;" class="cld-responsive" alt="">
			</div>
			<script>
				document.onreadystatechange = function() {
					if (document.readyState === "complete") {
						// console.log('why si this');
						$("#paidDon").modal("show");
            $('#anonymous').click(function(event) {
              $('#full_name').val('Anonymous Donor')
              $('#email').val('contact@adp.ng')
              $('#phone_number').val('09061825005')
            });
					}
				}

        function payHere (){
          var theImage = document.getElementById('theImage')
          var chBtn = document.getElementById('chBtn')
          var mbPay = document.getElementById('mbPay')
          var PayUp = document.getElementById('PayUp')
          theImage.style.display = 'none'
          mbPay.className = "d-block text-left w-50 fullM mr-auto ml-auto"
          chBtn.className = "d-none"
          PayUp.className = "btn btn-primary"
        }

        function payUp() {
          $.ajaxSetup({
            headers : {
              authorization: "{{header}}"
            }
          });

          var name_mobile = document.getElementById('name_mobile').value
          var paidMobile = document.getElementById('paidMobile').value
          var bank_name = document.getElementById('bank_name').value

          if (paidMobile == "") {
            document.getElementById('fillForm').innerHTML = "Please provide information"
          } else {
            var paidData = {
              full_name: name_mobile,
              phone_number: paidMobile,
              amount: bank_name,
              purpose: "Donation via Mobile Transfer",
              status: "Pending"
            }

            $.post('paid', paidData, function(data, textStatus, xhr) {
              location.replace("/");
            });
          }
        }

				function payWithPaystack() {
					var theAmount = document.getElementById('amount').value
					var thesplit = theAmount.split(',')
					var arrTr = thesplit.map((item) => {
						return item.trim()
					})
					var themjoin = arrTr.join('')
					var finalAmount = themjoin * 100

					if (!isNaN(finalAmount)) {

						var handler = PaystackPop.setup({
							key: 'pk_live_7ed395f69c06d004d9195244d253bfe5821e768f',
							email: document.getElementById('email').value,
							amount: finalAmount,
							ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
							metadata: {
								custom_fields: [{
									display_name: document.getElementById('full_name').value,
									variable_name: "mobile_number",
									value: document.getElementById('phone_number').value
								}]
							},
							callback: function(response) {
                $.ajaxSetup({
                  headers : {
                    authorization: "{{header}}"
                  }
                });

								response.full_name = document.getElementById('full_name').value
								response.phone_number = document.getElementById('phone_number').value
								response.email = document.getElementById('email').value
								response.amount = document.getElementById('amount').value
								response.purpose = "Donation to the Party"
								response.status = "Success"
								$.post('paid', response, function(data, textStatus, xhr) {
									window.location.replace("actiondemocraticparty.org")
								});
							}
						});
						handler.openIframe();
					} else {
						document.getElementById('amount').className = "form-control is-invalid"
					}
				}
			</script>
		</form>
	</div>
</div>
