<div class="modal fade" id="modal-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>{{login.phone_number}}</p>
		  <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
<div class="d-flex flex-column w-50 fullM mr-auto ml-auto p-4 mt-4 mb-4">
  <div id="accordion" aria-expanded="false" role="tablist">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
      <h5 data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">Already Registered <small>Please clickhere</small></h5>
      </div>
     <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
        <form id="getLogin" action="/login" method="post">
          <p>If this is your first time here please scroll down and fill the form below thank you</p>
          <div class="form-group">
            <label for="loginName">Full Name</label>
            <input type="text" name="full_name" class="form-control" id="loginName" placeholder="">
          </div>
          <div class="form-group">
            <label for="loginPassword">Phone</label>
            <input type="text" id="loginPassword" name="phone_number" class="form-control" placeholder="Phone Number">
            <p class="help-block" id="logErr">Use Your Phone Number</p>
          </div>
          <button type="submit" id="loginBTN" class="btn btn-primary btn-lg">Log In</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div> -->


<input type="hidden" name="status" value="{{status}}" id="status">
<script type="text/javascript">
document.onreadystatechange = function () {
	var Hostadd = window.location.hostname
	var hostgrab = Hostadd.split('.')
  if (document.readyState === "interactive") {
	  var memberstatus = {{login.MemberVerified}}
    $('#modal-1').modal('show')
	 setTimeout(function () {
		 if ($('#status').val() === 'success') {
			 if (memberstatus === false) {
			 	window.location.replace('/pay/')
			} else {
				if (hostgrab[0] === "www") {
					window.location.replace('http://dashboard.'+hostgrab[1]+'.'+hostgrab[2])
				} else {
					window.location.replace('http://dashboard.'+hostgrab[0]+'.'+hostgrab[1])
				}
			}
		 } else {
			 window.location.replace('/register/')

		 }
	 }, 5000);
  }

}</script>
