<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content has-text-centered box">
    ADP One Destiny
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<script type="text/javascript">
  location.reload('actiondemocraticparty.org')
</script>
