<div class="container mt-5">
	<div class="d-flex flex-column mt-5">
		<div class="d-flex p-2 flex-column mb-5">
			<h2 class="text-center">The Party Structure</h2>
			<div class="d-flex flex-column flex-xl-row flex-md-row">
				<figure class="figure w-25 mr-5 fullM">
				  <img data-src="http://res.cloudinary.com/inidaname/image/upload/q_auto/w_auto,c_scale/v1514739074/IMG_20160921_095535_kkpyzt.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
				  <figcaption class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani <br /><strong>The National Chairman</strong></figcaption>
				</figure>
				<p class="w-75 fullM">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
		<div class="d-flex flex-column w-100 mr-auto ml-auto mb-5">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-fill" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">FC Members</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">BoT Members</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">NEC Members</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">NWC Members</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#STCMember" role="tab">States Chairmen Members</a>
			  </li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content border border-top-0 border-left-2 border-right-2 border-buttom-2 p-4">
			  <div class="tab-pane active" id="home" role="tabpanel">
				  <h2 class="mt-4 text-center">Foundation Council Members</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			  <div class="tab-pane" id="profile" role="tabpanel">
				  <h2 class="mt-4 text-center">Board of Trustee Members</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			  <div class="tab-pane" id="messages" role="tabpanel">
				  <h2 class="mt-4 text-center">National Excutive Council Members</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			  <div class="tab-pane" id="settings" role="tabpanel">
				  <h2 class="mt-4 text-center">National Working Committee Members</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			  <div class="tab-pane" id="STCMember" role="tabpanel">
				  <h2 class="mt-4 text-center">States Chairmen Members</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div>
			</div>
		</div>
	</div>
</div>
