<div class="container mt-5">
	<div class="d-flex flex-column mt-5">
		<div class="d-flex p-2 flex-column mb-5">
			<h2 class="text-center">The Party Structure</h2>
			<!-- <div class="d-flex flex-column flex-xl-row flex-md-row">
				<figure class="figure w-25 mr-5 fullM">
				  <img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
				  <p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
				</figure>
				<div class="d-flex flex-column w-50 fullM">
					<h5 class="text-center">The National Chairman </h5>
					<p class="w-100 fullM">
						The role of a party chairman/chairperson is often quite different from that of a party leader. The duties of the chairman/chairperson are typically concerned with the party membership as a whole, and the activities of the party organization.
						Chairman/chairperson often play important roles in strategies to recruit and retain members, in campaign fundraising , and in internal party governance, where they may serve as a member of, or even preside over, a governing board or council. They often also have influence in candidate selections, and sometimes in the development and promulgation of party policy.
					</p>
				</div>
			</div> -->
		</div>
		<div class="d-flex flex-column w-100 mr-auto ml-auto mb-5">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-fill" role="tablist">
			  <!-- <li class="nav-item">
			    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">FC Members</a>
			  </li> -->
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="tab" href="#chairman" role="tab">Chairman</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">BoT</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">NEC</a>
			  </li>
			  <!-- <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#STCMember" role="tab">States Chairmen Members</a>
			  </li> -->
			</ul>

			<!-- Tab panes -->
			<div class="tab-content border border-top-0 border-left-2 border-right-2 border-buttom-2 p-4">
			  <div class="tab-pane active" id="chairman" role="tabpanel">
					<div class="d-flex flex-column flex-xl-row flex-md-row justify-content-center">
						<figure class="figure w-25 text-center mr-5 fullM">
							<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
							<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
						</figure>
						<div class="w-75 fullM">
							<h2 class="mt-4 text-center">The National Chairman</h2>
							<p>
								The role of a party chairman/chairperson is often quite different from that of a party leader. The duties of the chairman/chairperson are typically concerned with the party membership as a whole, and the activities of the party organization.
								Chairman/chairperson often play important roles in strategies to recruit and retain members, in campaign fundraising , and in internal party governance, where they may serve as a member of, or even preside over, a governing board or council. They often also have influence in candidate selections, and sometimes in the development and promulgation of party policy.
							</p>
						</div>
					</div>
			  </div>
			  <div class="tab-pane" id="profile" role="tabpanel">
					<div class="d-flex flex-column justify-content-center">
						<div class="d-flex flex-column justify-content-center">
							<h2 class="mt-4 text-center">Board of Trustee Members</h2>
							<p>
								The ADP Board of Trustees (BoT ) is a constitutionally mandated body within the Action
								Democratic Party of Nigeria that provides advice and counsel to the leadership of the National Working Committee and staff. It is regarded by the party's constitution as the conscience of the party.
							</p>
						</div>
						<!-- <div class="d-flex flex-column flex-wrap justify-content-center flex-xl-row flex-md-row">
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
						</div> -->
					</div>
			  </div>
			  <div class="tab-pane" id="messages" role="tabpanel">
					<div class="d-flex flex-column justify-content-center">
						<div class="d-flex flex-column justify-content-center">
						  <h2 class="mt-4 text-center">National Excutive Council Members</h2>
						  <p>
								The ADP National Working Committee, also known by its acronym NWC , is the executive committee of the Action Democratic Party in Nigeria.The NWC is composed of
							  12 members, all of whom are elected to a four-year term at the party's National Convention. The NWC is headed by the Chairman who also functions as the party's National Chairman. The NWC has the responsibility for the day-to-day governance of the party as well as oversight of its national activities.
							</p>
						</div>
						<!-- <div class="d-flex flex-column flex-wrap justify-content-center flex-xl-row flex-md-row">
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
							<figure class="figure w-25 text-center mr-5 fullM">
								<img data-src="https://res.cloudinary.com/inidaname/image/upload/q_auto/w_300,c_scale/v1514739074/12_fffykl.jpg" class="img-rounded cld-responsive" alt="The National Chairman">
								<p class="figure-caption text-center mt-2 text-dark font-weight-bold">Eng. Yabagi Y. Sani (Jakadan Nupe) <br /><strong>The National Chairman</strong></p>
							</figure>
						</div> -->
					</div>
			  </div>
				  <!-- <div class="tab-pane" id="STCMember" role="tabpanel">
				  <h2 class="mt-4 text-center">States Chairmen Members</h2>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			  </div> -->
			</div>
		</div>

		<div class="border border-2 p-4">
			<div class="d-flex flex-column justify-content-center">
				<div class="d-flex flex-column justify-content-center text-center">
					<h2 class="mt-4 text-center">List of State Contacts</h2>
					<p>Below is the list of contact numbers of all states, Feel free to contact according to your location, For your Membership Cards.</p>
				</div>
				<hr class="p-2">
				<div class="d-flex flex-column flex-wrap mt-5 justify-content-center flex-xl-row flex-md-row">

						<div class="card-columns">
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Abia State</h4>
									<p class="card-text"><strong>Tel:</strong> 08136955927.</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Akwa Ibom State</h4>
									<p class="card-text"><strong>Tel:</strong> 09094134246</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Anambra State</h4>
									<p class="card-text">Tel: 09075060614</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Adamawa State</h4>
									<p class="card-text">Tel: 08033155520</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Bauchi State</h4>
									<p class="card-text">Tel: 07082829833</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Bayelsa State</h4>
									<p class="card-text">Tel: 08033101479</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Benue State</h4>
									<p class="card-text">Tel: 08061127247</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Borno State</h4>
									<p class="card-text">Tel: 08092872143</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Cross River State</h4>
									<p class="card-text">Tel: 08136087951</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Delta State</h4>
									<p class="card-text">Tel: 07037779392</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Ebonyi State</h4>
									<p class="card-text">Tel: 08130507406</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Edo State</h4>
									<p class="card-text">Tel: 08033546467</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Ekiti State</h4>
									<p class="card-text">Tel: 08032251639</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Enugu State</h4>
									<p class="card-text">Tel: 08033925851</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">FCT</h4>
									<p class="card-text">Tel: 08050836966</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Gombe State</h4>
									<p class="card-text">Tel: 08060273899</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Imo State</h4>
									<p class="card-text">Tel: 08037799965</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Jigawa State</h4>
									<p class="card-text">Tel: 08065499128</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Kaduna State</h4>
									<p class="card-text">Tel: 07036972356</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Kano State</h4>
									<p class="card-text">Tel: 08036968198</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Katsina State</h4>
									<p class="card-text">Tel: 08033669262</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Kebbi State</h4>
									<p class="card-text">Tel: 08162213468</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Kogi State</h4>
									<p class="card-text">Tel: 08035879752</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Kwara State</h4>
									<p class="card-text">Tel: 08168212151</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Lagos State</h4>
									<p class="card-text">Tel: 08023047501</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Nasarawa State</h4>
									<p class="card-text">Tel: 08186888392</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Niger State</h4>
									<p class="card-text">Tel: 08035888020</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Ogun State</h4>
									<p class="card-text">Tel: 07032331661</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Ondo State</h4>
									<p class="card-text">Tel: 08034832170</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Osun State</h4>
									<p class="card-text">Tel: 07034546154</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Oyo State</h4>
									<p class="card-text">Tel: 08033851592</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Plateau State</h4>
									<p class="card-text">Tel: 08037009351</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Rivers State</h4>
									<p class="card-text">Tel: 07034011482</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Sokoto State</h4>
									<p class="card-text">Tel: 08033499651</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Taraba State</h4>
									<p class="card-text">Tel: 08033531991</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Yobe State</h4>
									<p class="card-text">Tel: 08022645835</p>
								</div>
							</div>
							<div class="card p-4">
								<div class="card-block">
									<h4 class="card-title">Zamfara State</h4>
									<p class="card-text">Tel: 08033916994</p>
								</div>
							</div>
						</div>

				</div>
			</div>
		</div>
	</div>
</div>

{{json}}
